footer.footer 
  .footer__content.container
    .footer__logo 
      img(src="./img/logo.png", alt="Логотип компании")
      h2 Лестницы <br> от производителя <br> в Москве и МО
    .footer__policy
      a(href="http://", target="_blank", rel="noopener noreferrer") Политика конфиденциальности
    .footer__tel
      p.online-tel Звоните, мы работаем
      a(href="tel:+74951287942") +7(495)128-79-42