header.header.container
  .header__logo
    img(src="./img/logo.png", alt="Логотип компании")
    h2 Лестницы <br> от производителя <br> в Москве и МО
  .header__wa 
    img(src="./img/wa.svg", alt="WhatsApp")
    p Среднее время <br>ответа 15 минут
  .header__tel
    p.online-tel Звоните, мы работаем
    a(href="tel:+74951287942") +7(495)128-79-42
    span Быстрая консультация
  .header__mob
    a(href="http://") 
      img(src="./img/wa_mob.svg", alt="WhatsApp")
    a(href="tel:+74951287942") 
      img(src="./img/tel_mob.svg", alt="Телефон")
    